/.venv/
**/migrations/*
!**/migrations/__init__.py

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# MacOS
.DS_Store
